*{
  font-family: 'Prompt', sans-serif;

}

  /* ***********************************Navbar********************************************** */ 
  
  nav css
  * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    
    body {
      font-family: "Josefin Sans", sans-serif;
    }
    
    .navbar {
      font-size: 18px;
      background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 10px;
    }
    
    .main-nav {
      list-style-type: none;
      display: none;
    }
    
    .nav-links,
    .logo {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
    }
    
    .main-nav li {
      text-align: center;
      margin: 15px auto;
    }
    
    .logo {
      display: inline-block;
      font-size: 22px;
      margin-top: 10px;
      margin-left: 20px;
    }
    
    .navbar-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      font-size: 24px;
    }
    
    .active {
      display: block;
    }
    
    @media screen and (min-width: 768px) {
      .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
      }
    
      .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
      }
    
      .main-nav li {
        margin: 0;
      }
    
      .nav-links {
        margin-left: 40px;
      }
    
      .logo {
        margin-top: 0;
      }
    
      .navbar-toggle {
        display: none;
      }
    
      .logo:hover,
      .nav-links:hover {
        color: rgba(255, 255, 255, 1);
      }
    }



#img{
  background-image: url("https://media.gq.com.mx/photos/5fc1a6ff0274213f315a65d0/16:9/w_2560%2Cc_limit/laptop%2520sobre%2520escritorio.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 600px;
  width: 100%;
}

#logo{
  width: 50px;
  height: 50px;
  float: right
}


  /* **********************************welcome*********************************************** */ 
  #Wbox{
    width: 49%;
    height: 382px;
    margin-left: 24%;
    margin-top: 2%;
    padding: 5%;
    background-color: #ffffff99;
    opacity: 119%;
  }

  /* **********************************Body*********************************************** */ 

body {
    background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
 
}



/* *************************************Card******************************************** */
.img{
  width: 300px;
  height: 300px;
} 




.flip-card {
  background-color: transparent;   
  width:300px;
  height: 370px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}
/* *************************************************************************** */
.flip-card-back {
  background-color: #52affb;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

#flip-card-back-JS{
    background-color: #f6ff00;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}
#bJ{
  border: 1px white solid;
  color: #ffffff;
}
#bJ:hover{
  color: white;
}

#flip-card-back-HTML{
    background-color: #ff7300;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}
/* ********************************************************************************** */
                                      /* < Margin> Card's */



.card-top {
    text-align: center;
    margin-top: 2%;
    margin-left: 382px;
    padding: 30px;
}




/* ********************************************************************************** */



/* ***********************************************************screen 1024 PX************************************************************************* */


@media screen and (max-width:1024px){






  .card-top {
    text-align: center;
    margin-top: 0%;
    margin-left: 335px;
}

#Wbox{
  width: 49%;
  height: 382px;
  margin-left: 24%;
  margin-top: 2%;
  padding: 5%;
  background-color: #ffffff99;
  opacity: 119%;
}


}
/* ***********************************************************screen 768 PX************************************************************************* */
@media screen and (max-width:768px){

  .flip-card-inner {
    position: relative;
    width: 139%;
    height: 100%;}

.card-top{
   
    text-align: center;
    
    margin-left: 184px;
}

#Wbox{
  border: solid 7px #facdaf;
  width: 100%;
  height: 20%;
  margin-left: 12%;
  margin-top: 25%;
  padding: 3%;
  background-color: #ffffff99;
  opacity: 74%;
}

    



.flip-card {
  background-color: transparent;
  width: 215px;
  height: 370px;
  perspective: 1000px;
}
.cardP{
  font-size:35px;
}
.cardP2{
  font-size:35px;
}


}

/* ***********************************************************screen 425 PX************************************************************************* */



/* ***********************************************************screen 425 PX************************************************************************* */
@media screen and (max-width:426px){
 

    
    
  
    #HMTL-card{
      margin-left: 0px;
    }
    .card-top{
       
      text-align: center;
      margin-top: 1%;
      margin-left: 39px;
    }
    
    #Wbox{
      border: solid 7px #facdaf;
      width: 96%;
      height: 400px;
      margin-left: 1%;
      margin-top: 6%;
      padding: 3%;
      background-color: #ffffff99;
      opacity: 74%;
    }

    
  }
/* ***********************************************************screen 375 PX************************************************************************* */

@media screen and (max-width:375px){
.card-top {
  text-align: center;
  margin-top: 1%;
  margin-left: 15px;
}

}


/* ***********************************************************screen 320 PX************************************************************************* */
@media screen and (max-width:320px){
 

    #HMTL-card{
      margin-left: 0px;
    }
    .card-top {
      text-align: center;
      margin-top: 1%;
      margin-left: -8px;
  }
    
    #Wbox{
      border: solid 7px #facdaf;
      width: 96%;
      height: 400px;
      margin-left: 1%;
      margin-top: 6%;
      padding: 3%;
      background-color: #ffffff99;
      opacity: 74%;
    }
    .img{
      width: 200px;
      height: 200px;
    } 
        
    
    
    
    .flip-card {
      background-color: transparent;   
      width: 200px;
      height: 370px;
      perspective: 1000px;
    }
    .cardP{
      font-size:35px;
    }
    .cardP2{
      font-size:35px;
    }
    

    

}

